*{
    margin: 0px;
    padding: 0px;
    font-family:'Poppins';
    font-weight: 200;
}
html{
    width: 100vw;  
    min-height: 100vh;
background: linear-gradient(135deg,#153677,#4e085f);
background-repeat: no-repeat;
}
#TDL{
    background-color: white;
    margin: 100px 50px auto 50px;
    /* overflow:scroll ; */
    word-wrap: break-word;
    /* text-wrap: wrap; */
    padding: 25px;
}
#heading{
margin-bottom: 25px;
    display: flex;
}
#input-s{
    text-wrap: wrap;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    /* padding: 10px; */
    align-items: center;
    /* width: 200px; */
    background-color: #edeef0;
    /* flex:1; */
}
#input-s input{
    font-weight: 400;
    outline: none;
    /* background:transparent; */
    padding: 15px;
    border-radius: 25px;
    width: 100%;
    position: relative;
    background-color: transparent;
    border: none;
}
#input-s button{
    color: white;
    font-weight:400;
    height: 3.2em;
    border: none;
    padding: 5px;
    border-radius:22px ;
    width: 100px;
    background-color: rgb(255, 98, 0);
}